DATABASE_HOST=
DB_USERNAME=
DB_PASSWORD=
DB_NAME=
API_KEY=
NOTIFICATION_TOKEN=
COMPANY_NUMBER=
ACOUNT_NUMBER=
CLIENT_ID=
CLIENT_SECRET=
GPO_PAYMENT=
REF_PAYMENT=
RESOURCE=
API_URL=
E_KWANZA_API_URL=
OAUTH_URL=